
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start-->
<div class="container-fluid  ">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            Contact
            Us
        </span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">

                <div class="chatbox">
                    <div class="bodychat">
                        <div class="container-chatbox">
                            <div class="header-chatbox">
                                <h1>Customer Consultant</h1>
                                <div class="body-chatbox">

                                    <p class="message user_message">Hello I wanna ask you something about Razer SPR2020 is this mouse good for gaming? and have another one better than this one?</p>
                                    <span class="time_user" style="margin-left: 72%; ">07:00 12 December 2023</span>

                                    <p class="message"> Hi </p>
                                    <span class="time">04:00 7 September 2019</span>

                                </div>
                                <div class="footer-chatbox">
                                    <form action="">
                                        <input type="text" name="" style="padding: 20px;">
                                        <button class="button1">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <iframe style="width: 100%; height: 250px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14000.691257571067!2d105.76374424993578!3d10.032473351162594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089838775fab3%3A0xacef65f14c291149!2sThe%20Gear%20-%20PC%20Gaming%20C%E1%BA%A7n%20Th%C6%A1!5e0!3m2!1svi!2s!4v1695175751440!5m2!1svi!2s"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>600 Nguyen Van Cu, Ninh Kieu, Can Tho, Vietnam</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>GearShop@fpt.edu.vn</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+333 744 591</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->