@using Newtonsoft.Json;
@using SWP391_Group3_FinalProject.Models;

@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";

    string Manager = Context.Session.GetString("Session");
    Manager manager = new Manager();
    if (Manager != null)
    {
        manager = JsonConvert.DeserializeObject<Manager>(Manager);
    }
}
<script src="~/assets/js/ValidateCreateAccount.js"></script>
<div class="body-wrapper">
    <div class="container">
        <div class="container">
            <h1 class="Header">CREATE ACCOUNTS</h1>
            <hr>
            <div class=" p-4 BoxStyle rounded-4">
                <form method="POST" enctype="multipart/form-data" asp-action="/Dashboard/CreateAccount" id="CreateAccount" class="createAccount">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="Username" name="username">
                        <p style="color: red;"></p>
                        <div id="usexist" style="color: red;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" name="password">
                        <p style="color: red;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Fullname</label>
                        <input type="text" class="form-control" id="Fullname" name="fullname">
                        <p style="color: red;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="PhoneNumber" name="phone">
                        <p style="color: red;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input type="text" class="form-control" id="Email" name="email">
                        <p style="color: red;"></p>
                        <div id="emailexist" style="color: red;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">SSN</label>
                        <input type="text" class="form-control" id="SSN" name="SSN">
                        <p style="color: red;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Living Address</label>
                        <input type="text" class="form-control" id="LivingAddress" name="address">
                        <p style="color: red;"></p>
                    </div>
                    <style>
                        /* Apply custom styles to make the checkbox bigger */
                        .form-check-input {
                            transform: scale(1.5); /* Adjust the scale factor to make it bigger or smaller */
                        }
                    </style>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="IsAdmin" name="isAdmin">
                        <label class="form-check-label" for="exampleCheck1" style="font-size:larger; color:red;">Check the box to make this account have admin privilege</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
