@{
    ViewData["Title"] = "OrderRecieptPage";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    var managers = ViewBag.managers;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<div class="body-wrapper">
    <div class="container">
        <h1 class="Header">ORDERS</h1>
        <div class="tabs">
            <div class="tabby-tab">
                <input type="radio" id="tab-1" name="tabby-tabs" checked>
                <label for="tab-1" class="tabby-tablabel">STAFF ACCOUNTS</label>
                <div class="tabby-content">
                    <h1 class="Title">List of Staff</h1>
                    <div class="col-12">
                        <div class="row " style=" padding-bottom: 20px;">
                            <div class="col-2">
                                <p class="SmallTitle">From: <input type="text" id="minColumn4" name="min"></p>
                            </div>
                        </div>
                    </div>
                    <!--Danh sách sản phẩm sort theo số lượng bán-->
                    <table id="example" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Phone Number</th>
                                <th>SSN</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in managers)
                            {
                                <tr>
                                    <td>@item.fullname</td>
                                    <td>@item.phone</td>
                                    <td>@item.SSN</td>
                                    <td>@item.address</td>
                                    <td> <a class="SmallTitle" href="OrderInformation.html">Show Order</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>                    
        </div>
    </div>
    <div class="container-fluid">
        <!--  Row 1 -->
    </div>
</div>

