@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PostCheckOut";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Order Successfully</title>
    <link rel="icon" type="image/x-icon" href="~/source_img/advertising_img/logoGearshop.png">
    <link href="~/css/styledone.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="circle_1">
            <img src="~/source_img/advertising_img/zyro-image_2.png" alt="Post checkout picture">
        </div>

        <h1>Order placed successfully!</h1>
        <p>Customer name: NGUYEN QUOC HOANG</p>

        <div class="divider"></div>
        <p class="thank-you">Thank you for shopping at GearShop !</p>
        <p>Your order will be processed and we will quickly deliver the goods to the address you provided.<br> The department in charge will proactively contact you as soon as possible. <br> In case you need urgent support, please contact Hotline: <span class="hotline">+333 744 591</span></p>
        <p>Thank you for trusting and choosing our service!</p>


        <a href="/Product/Shop" class="button">Continue shopping</a>
        <a href="/Account/ViewOrder" class="button">View order details</a>
    </div>
</body>

